# VS Code
.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Debug/
.project

# Visual studio
*.sln
Debug
Release
*.suo
*.csproj.user
*.vcxproj*
ipch
*sdf
x64
packages/

# CLion
.idea/
*.iml
*.iws
*.ipr
*.eml
*.xml
build/

## Compiled Object files
*.slo
*.lo
*.o

# C++
src/Cpp/lib/

## Compiled Object files
*.slo
*.lo
*.o
*.obj

## Executables
*.exe
*.out
*.app

## Not used Libraries
src/Cpp/lib/
src/Cpp/cmake-build-debug/
src/Cpp/cmake-build-release

# Datasets
*.tsv
*.csv
*.txt
resources/
reports/
figures/

#R
.Rhistory
.RData
.Rproj.user

#Python
venv/
*.pyc
src/Python/.ipynb_checkpoints
src/Python/learning/

!.idea/runConfigurations/
.idea/misc.xml
/src/Cpp/tests/lib/gtest/
.idea/misc.xml
.idea/runConfigurations/ProteoformNetwork_run.xml
