# VS Code
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Debug/

# C++

## Compiled Object files
*.slo
*.lo
*.o
*.obj

## Executables
*.exe
*.out
*.app

# Java
*.jar

# Datasets
*.tsv
*.csv
resources/PhenGenI/diseaseModules/