# VS Code
.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Debug/
.project

# Visual studio
*.sln
Debug
Release
*.suo
*.csproj.user
*.vcxproj*
ipch
*sdf
x64

## Compiled Object files
*.slo
*.lo
*.o

# C++

## Compiled Object files
*.slo
*.lo
*.o
*.obj

## Executables
*.exe
*.out
*.app

## Not used Libraries
src/Cpp/lib/

# Java
*.jar

# Datasets
*.tsv
*.csv
*.txt
resources/PhenGenI/diseaseModules/

#R
.Rhistory
.RData
.Rproj.user
